.quarto-title-block .quarto-title-banner {
  background-image: url(images/DemoCo-Logo-Transparent-Final.png);
  background-size: 200px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 100px;
  background-origin: content-box;
}
